---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Namaskaram!
      </span>
    </h1>
  </div>
  <div>
    <p style="font-weight: 500; font-size: 2.2em"> { "My name is Gokul Santhosh." } </p>
    <p style="font-weight: 300; font-size: 1.5em"; line-height: 1.4>
      I'm a storyteller by heart and I love solving complex real-world problems,
      derive user-friendly solutions and share them as beautiful stories. I have worked on everything I
      have found interesting, from machine learning and AI to cryptography, blockchain and distributed systems.
      And from all those experiences what I believe is, all that matters is how each of the solutions I arrive at
      affects the life of the people.
    </p>
    <p style="font-weight: 300; font-size: 1.5em"; line-height: 1.4>I am currently based out of Kerala, India. Most of my work is open source and is publicly available on
      <a 
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href=https://github.com/bahdotsh target=_blank>GitHub</a>. I am currently building (hopefully) 
      cool stuff with rust and C++.
    </p>
     <p style="font-weight: 300; font-size: 1.5em"; line-height: 1.4>I'm always happy to chat with fellow enthusiasts, so don't hesitate to drop
			 me a<a class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
       href=mailto:gokulsanthoshofficial@gmail.comtarget=_blank>mail</a>, or connect with me on
			<a class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow" href="https://twitter.com/bahdotshx" target=_blank>twitter</a> or 
			<a class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow" href=https://www.linkedin.com/in/gokul-santhosh/ target=_blank>LinkedIn</a>.</p>
  </div>
</section>
